@tailwind base;
@tailwind components;
@tailwind utilities;

/* Глобальный стиль для всех скроллбаров */
* {
    scrollbar-width: thin; /* Firefox: тонкий скроллбар */
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* Цвет ползунка и трека */
  }
  
*::-webkit-scrollbar {
    width: 4px; /* Тонкий вертикальный скроллбар */
    height: 4px; /* Тонкий горизонтальный скроллбар */
}

*::-webkit-scrollbar-track {
    background: transparent; /* Прозрачный трек */
}

*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Полупрозрачный ползунок */
    border-radius: 10px; /* Закругленные края */
    transition: background 0.2s ease-in-out; /* Плавный переход при наведении */
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); /* Ползунок становится ярче при наведении */
}

/* Для мобильных устройств включить плавное прокручивание */
body, html {
    -webkit-overflow-scrolling: touch; /* Плавное прокручивание на iOS */
}


.gradient-circle {
    border-radius: 50%;
    background: linear-gradient(120deg, #ff8c00, #ff0080, #8000ff, #0088ff, #00ffaa);
    background-size: 400% 400%; /* Увеличенный размер для более плавного эффекта */
    animation: gradient-animation 8s ease infinite;
    filter: blur(120px); /* Мягкость размытия для премиального эффекта */
    box-shadow: 0 0 120px 40px rgba(255, 136, 255, 0.5), 0 0 60px 20px rgba(0, 255, 255, 0.3);
}

/* Задержка анимации */
.gradient-circle.delayed {
    animation-delay: 4s; /* Задержка анимации в 3 секунды */
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

